<!-- This page displays the Account Management page.Here the users can change their passwords,phone numbers -->
<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template::headerFiles"></head>
	<body>
		<nav th:replace="template::navbar"></nav>
		
		
		<div class="container">
	    	<form id="changePasswordForm" class="form-horizontal" role="form" method="POST" th:action="@{/changePassword}" th:object="${user}">
		    	<div class="row">
		        	
		            <div class="col-md-12">
		            	<div id="changePasswordMsg" class="alert alert-success" role="alert" style="display:none" th:utext="${msg}">
		     			</div>
		            </div>
		         </div>
		         <div class="row">
		             <div class="col-md-3"></div>
		             <div class="col-md-9">
		                 <h2>Change Password</h2>
		             </div>
		         </div>
		         
		        
		        
		         <div class="row">
		             <div class="col-md-3 field-label-responsive">
		                 <label for="password">New Password</label>
		             </div>
		             <div class="col-md-6 form-group has-danger">
		                 <input type="password" class="form-control" id="password" th:field="*{password}"
		                                placeholder="Password" required>
		             </div>
		            
		         </div>
		         
		         <div class="row">
		             <div class="col-md-3 field-label-responsive">
		                 <label for="password">Confirm Password</label>
		             </div>
		             <div class="col-md-6 form-group has-danger">
		                 <input type="password" class="form-control" id="changePassword" th:field="*{password}"
		                                placeholder="Password" required>
		             </div>
		            
		         </div>
		         
		         
		         
		         <div class="row">
		             <div class="col-md-3  field-label-responsive"></div>
		             <div class="col-md-6 form-group">
		                 <button type="submit" class="btn btn-success btn-block"> Edit</button>
		             </div>
		         </div>
		         
		        
		     </form>
		 </div>
		
		
		
		<div style="height:10px"></div>
		<button th:replace="template :: scrollToTop"></button>
		<footer th:replace ="template :: footer"></footer>
		
	</body>
</html>