<!-- Page that displays the properties based on the apartment search preferences set -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::headerFiles"></head>
<body>
<nav th:replace="template::navbar">	</nav>
 <div class="container-fluid">
  <span th:switch="${requestsDisplay}">
	<span th:case="'yes'">
 	<div class="table-responsive">
  	<table class="table table-striped">
		<thead>
			<tr>
			    <th>Gender</th>
			    <th>Age</th>
			    <th>Options</th>
		 	</tr>
	 	</thead>
	 	<tbody>
			<tr th:each="applic : ${viewrequest}">
				<td th:text="${applic.getUserGender()}"></td>
				<td th:text="${applic.getUserAge()}"></td>
				<td><a class="btn btn-primary "  th:href="@{'/viewMoreDetails/'+${applic.getUserEmail()}}">View Details</a></td>
			</tr>
		</tbody>
	 </table>
	
  </div>
</span>
	<span th:case="'no'">
	<h1>You don't have any received requests to display at this moment </h1></span>
	</span>			
 </div>
 <button th:replace="template :: scrollToTop"></button>
<footer th:replace ="template :: footer"></footer></body>

</html>